* {
    font-family: helvetica;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.image-wrapper {
    width: 700px;
}

img {
    width: 100%;
    object-fit: contain;
    border: 5px black double;
    border-radius: 5px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 700px;
}

.user-search {
    display: flex;
    flex-direction: row;
    width: 500px;
}

#text-input {
    border-radius: 5px;
    width: 70%;
}


#submit-button {
    margin-left: 5%;
    width: 30%;
    border-radius: 5px;
    background-color: rgb(94, 94, 99);
    color: white;
}

#shuffle {
    width: 125px;
    border-radius: 5px;
    background-color: rgb(94, 94, 99);
    color: white;
}

#counter {
    width: 75px;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}


select {
    margin-left: 10px;
    border-radius: 5px;
}

#copy {
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(94, 94, 99);
    color: white;
}

#return {
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(94, 94, 99);
    color: white;
}

::-webkit-input-placeholder {
    text-align: center;
 }

 @media (max-width: 500px) {

.image-wrapper {
    width: 200px;
}

img {
    width: 100%;
    object-fit: contain;
    border: 5px black double;
    border-radius: 5px;
}

.input-wrapper {
    width: 300px;
}

}