* {
    font-family: helvetica;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-wrapper {
    width: 700px;
}

img {
    width: 100%;
    object-fit: contain;
    border: 5px black double;
    border-radius: 5px;
}

.input-wrapper {
    display: grid;
    grid-template-columns: 66% 33%;
    gap: 10%;
    justify-content: center;
}

.user-search {
    display: flex;
    justify-content: center;
    margin-right: 10%;
}

#text-input {
    border-radius: 5px;
}


#submit-button {
    margin-left: 10%;
    padding: 0 35% 0 10%;
    width: 50%;
    border-radius: 5px;
    background-color: rgb(94, 94, 99);
    color: white;
}

#shuffle {
    margin-left: 20%;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(94, 94, 99);
    color: white;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}


select {
    margin-left: 10px;
    border-radius: 5px;
}

#copy {
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(94, 94, 99);
    color: white;
}

::-webkit-input-placeholder {
    text-align: center;
 }


 @media (max-width: 500px) {

.image-wrapper {
    width: 200px;
}
}